/*Custom fonts*/
@font-face {
  font-family: Centra;
  src: url('./assets/fonts/CentraNo2-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: Centra;
  src: url('./assets/fonts/CentraNo2-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Centra;
  src: url('./assets/fonts/CentraNo2-Book.ttf');
  font-weight: 400;
}

/*Default CSS*/
:root {
  font-family: Centra, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: geometricPrecision;
  
  --font-color-white: rgb(255, 255, 255);
  --font-color-black: rgba(17, 17, 17, 0.89);
  --background-color-black: rgb(17, 17, 17);
  --text-shadow: 1px 1px 2px rgb(0, 0, 0);
  --box-shadow: rgba(0, 0, 0, 0.055) 1.95px 1.95px 5.6px 0px;
  --gradient-main: linear-gradient(to right, #ada996, #f2f2f2, #dbdbdb, #eaeaea);
  --gradient-card: linear-gradient(to left, #e4e3e1, #f2f2f2, #ffffff, #eaeaea);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}


body {
  font-weight: 400;
  font-family: Centra !important;
  color: var(--font-color-white) !important;
  background: var(--gradient-main) !important;
  min-width: 320px;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

a {
  font-weight: 500;
  opacity: 0.75;
}

a:hover {
  opacity: 1;
}

/*Scrollbar*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/*Navbar*/
nav.navbar {
  background-color: var(--background-color-black);
  padding: 10px 0;
  position: sticky;
  width: 100vw;
  top: 0;
  z-index: 9999;
  transition: all 0.32s ease-in-out;
}

nav.navbar h1 {
  font-size: 28px;
  text-transform: uppercase;
}

nav.navbar.scrolled {
  padding: 3px 0;
  background-color: var(--background-color-black);
}


nav.navbar .navbar-nav {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

nav.navbar .navbar-toggler,
nav.navbar .navbar-toggler:focus {
  outline: none !important;
  border: none;
}

nav.navbar .navbar-nav a.nav-link {
  font-weight: 400;
  color: var(--font-color-white) !important;
  letter-spacing: .8px;
  padding: 0.1rem .5rem;
  font-size: 18px;
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .active-scroll-spy {
  opacity: 1;
}

nav.navbar  .dropdown .active {
  text-decoration: none;
}

nav.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.back-to-top {
  display: block;
  position: fixed;
  cursor: pointer;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  background-color: var(--background-color-black);
  padding: .35rem;
  opacity: .6;
}

.back-to-top img {
  max-height: 2rem;
  filter: invert();
}

/*Footer*/

footer {
  color: var(--background-color-black) !important;
  font-weight: 400;
  padding: 5px 25px;
  opacity: 0.75;
}

footer a {
  text-decoration: none;
  margin-right: .5rem;
  color: var();
}

footer a:visited {
  color: var(--background-color-black);
}

footer .name {
  text-transform: capitalize;
}


/*******Home page*******/

/*Main LOGO*/

.main-logo .carousel .carousel-item img {
  width: 100vw;
}

.main-logo .carousel .carousel-item .carousel-caption {
  padding: 0;
}

.main-logo .carousel .carousel-item .carousel-caption a {
  color: var(--font-color-white);
}

.main-logo .carousel .carousel-item .carousel-caption h2 {
  text-transform: uppercase;
}

.main-logo .carousel .carousel-item .carousel-caption .row .text-start h2,
.main-logo .carousel .carousel-item .carousel-caption .row .text-start p,
.main-logo .carousel .carousel-item .carousel-caption .row .text-start a {
  text-shadow: var(--text-shadow);
  margin: 0;
}

/*Portfolio*/

.potrfolio {
  color: var(--font-color-black);
}

.portfolio h2 {
  z-index: -1;
  color: var(--font-color-black);
}

.portfolio .container .row .nav {
  gap: 1rem;
}

.portfolio .container .row .nav .nav-item .nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.portfolio .card {
  display: flex;
  height: 100%;
}

.portfolio .card img {
  float: left;
  height: 100%;
}

.portfolio .nav-link {
  font-weight: 500;
  letter-spacing: 0.8px;
  padding: 5px 25px;
  font-size: 18px;
  opacity: 0.75;
  color: var(--font-color-black);
}

/*About*/

.about {
  color: var(--background-color-black);
}

.about h3 {
  font-size: large;
  margin-bottom: 1rem;
}
.about h3::after {
  content: ' →';
}

.about .image-holder {
  max-width: 100%;
}

.about img[alt="About me"] {
  max-width: 100%;
}

.about .list-group {
  border-radius: 0;
}

.about .list-group .list-group-item {
  background-color: #ffffff00;
  border: none;
}

/*Pricing*/

.pricing {
  color: var(--font-color-black);
}

.pricing table {
  overflow-x: auto;
}

.pricing table ul {
  list-style-type: none;
}

.pricing table tbody tr * {
  padding: 4px;
}

.pricing table tbody tr th,
.pricing table tbody tr td {
  background-color: #00000000;
}

/*Contact*/

.contact {
  color: var(--font-color-white);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.contact h2 {
  text-shadow: var(--text-shadow);
}

.social-icon a {
  width: 60px;
  height: 60px;
  display: inline-flex;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
}

.social-icon a img {
	width: 100%;
  filter: invert();
	z-index: 1;
	transition: 0.3s ease-in-out;
}

.social-icon a:hover img {
	opacity: 1;
  transform: scale(1.1);
}

.contact form input, .contact form select {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: #fff;
  margin: 0 0 8px 0;
  padding: 14px 26px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
}

.contact form input:focus, .contact form select:focus {
  background: rgba(255, 255, 255, 1);
  color: #121212;
}

.contact form input::placeholder, .contact form select::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.contact form input:focus::placeholder, .contact form select:focus::placeholder {
  color: #121212;
  opacity: 0.8;
}

.contact form input[type="tel"]:focus {
  background: url('../assets/img/plus.svg') no-repeat 6px center/6%;
  background-color: var(--font-color-white);
}

.contact form button {
  font-weight: 700;
  color: var(--font-color-black);
  background-color: #fff;
  padding: 14px 48px;
  font-size: 18px;
  border-radius: 0;
  border: none;
  position: relative;
  transition: 0.3s ease-in-out;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.contact form button span {
  z-index: 1;
  position: relative;
}

.contact form button:hover {
  color: var(--font-color-white);
  background-color: var(--background-color-black);
  opacity: .6;
}



/*Feedbacks*/

.feedbacks h2 {
  color: var(--font-color-black);
}

/*Feedback Card*/

.feedbacks .feedback-card {
  position: relative;
  width: 300px;
  height: 350px;
  background: #fff;
  margin: 0;
  border-radius: 4px;
  box-shadow:0 2px 10px rgba(0,0,0,.2);
}

.feedbacks .feedback-card:before,
.feedbacks .feedback-card:after {
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: #fff;
  transition: 0.5s;
  z-index: -1;
}

.feedbacks .feedback-card:hover:before {
  transform: rotate(20deg);
  box-shadow: 0 2px 20px rgba(0,0,0,.2);
}

.feedbacks .feedback-card:hover:after {
  transform: rotate(10deg);
  box-shadow: 0 2px 20px rgba(0,0,0,.2);
}

.feedbacks .feedback-card .txtBx {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background-image: var(--gradient-card);
  transition: 0.5s;
  z-index: 1;
  padding: 1rem;
  text-align: center;
  color: #777;
  word-break: break-all;
}

.feedbacks .feedback-card:hover .txtBx {
  bottom: 80px;
  color: var(--font-color-black);
}

.card .txtBx p {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.feedbacks .feedback-card .details {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
  height: 60px;
  text-align: center;
}

.feedbacks .feedback-card .details h2 {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 20px;
  color: #777;
} 

.feedbacks .feedback-card .details h2 span {
  font-weight: 500;
  font-size: 16px;
  color: var(--font-color-black);
  display: block;
  margin-top: 5px;
 } 

/*******NotFound*******/

.not-found {
  min-height: 91vh;
  letter-spacing: 0.8px;
  font-weight: 700;
  color: var(--font-color-black);
}

/*******Leave Feedback*******/

.leave-feedback {
  min-height: 91vh;
  letter-spacing: 0.8px;
  font-weight: 700;
  color: var(--font-color-black);
}

/*******Admin Board*******/

.admin-board {
  min-height: 91vh;
  letter-spacing: 0.8px;
  font-weight: 700;
  color: var(--font-color-black);
}

.admin-board .nav-item,
.admin-board .nav-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  font-weight: 500;
  letter-spacing: 0.8px;
  padding: 5px 25px;
  font-size: 18px;
  opacity: 0.75;
  color: var(--font-color-black);
}

.alert {
  z-index: 999;
}