/*Custom fonts*/
@font-face {
  font-family: Centra;
  src: url('../assets/font/CentraNo2-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: Centra;
  src: url('../assets/font/CentraNo2-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Centra;
  src: url('../assets/font/CentraNo2-Book.ttf');
  font-weight: 400;
}

/*Default CSS*/
:root {
  font-family: main, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;

  --font-color-white: rgb(255, 255, 255);
  --font-color-black: rgba(17, 17, 17, 0.89);
  --background-color-black: rgba(17, 17, 17, 0.877);
  --text-shadow: 3px 3px 20px #050304,
  -2px 1px 30px #070607;
  --box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px 0px;
  --gradient-main: linear-gradient(to right, #ada996, #f2f2f2, #dbdbdb, #eaeaea);;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}


body {
  font-weight: 400;
  font-family: 'Centra', sans-serif !important;
  color: var(--font-color-white) !important;
  background: var(--gradient-main) !important;
  min-width: 320px;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

a {
  font-weight: 500;
  opacity: 0.75;
}
a:hover {
  opacity: 1;
}

/*Navbar*/

nav.navbar {
  background-color: var(--background-color-black);
  padding: 18px 0;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 9999;
  transition: all 0.32s ease-in-out;
}

nav.navbar.scrolled {
  padding: 0px 0;
  background-color: rgba(0, 0, 0, 0.329);
}
nav.navbar a.navbar-brand {
  display: flex;
  align-items: center;
  justify-content: left;
}

nav.navbar .navbar-nav {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

nav.navbar .navbar-toggler {
  margin-right: 1rem;
}

nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: var(--font-color-white) !important;
  letter-spacing: 0.8px;
  padding: 5px 25px;
  font-size: 18px;
  opacity: 0.75;
}
nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
  opacity: 1;
}
nav.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*Main LOGO*/

.main-logo .carousel .carousel-item img {
  width: 100vw;
}

.main-logo .carousel .carousel-item .carousel-caption h2,
.main-logo .carousel .carousel-item .carousel-caption p {
  text-shadow: var(--text-shadow);
}

/*Portfolio*/

.porfolio h2 {
  color: var(--font-color-black);
}

.porfolio .container .row .nav {
  gap: 1rem;
}

.porfolio .container .row .nav .nav-item .nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.porfolio .card {
  display: flex;
  height: 100%;
  filter: grayscale(100%);
}

.porfolio .card img {
  float: left;
  height: 100%;
}

.porfolio .nav-link {
  font-weight: 500;
  letter-spacing: 0.8px;
  padding: 5px 25px;
  font-size: 18px;
  opacity: 0.75;
  color: var(--font-color-black);
}

/*About*/

.about {
  color: var(--background-color-black);
}

.about h3 {
  font-size: x-large;
  margin-bottom: 1rem;
}

.about .image-holder {
  padding-right: 0;
}
.about img[alt="About me"] {
  filter: grayscale(100%);
}

.about .list-group {
  border-radius: 0;
}

.about .list-group .list-group-item {
  background-color: #ffffff00;
  border-style: none solid none solid;
  border-width: 2px;
}
.about .list-group .list-group-item:first-child {
  border-left: none;
}

.about .list-group .list-group-item:last-child {
  border: none;
}