/*Custom fonts*/
@font-face {
  font-family: Centra;
  src: url('../assets/font/CentraNo2-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: Centra;
  src: url('../assets/font/CentraNo2-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Centra;
  src: url('../assets/font/CentraNo2-Book.ttf');
  font-weight: 400;
}

/*Default CSS*/
:root {
  font-family: main, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;

  --font-color-white: rgb(255, 255, 255);
  --font-color-black: rgba(17, 17, 17, 0.89);
  --background-color-black: rgba(17, 17, 17, 0.877);
  --text-shadow: 3px 3px 20px #050304,
  -2px 1px 30px #070607;
  --box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px 0px;
  --gradient-main: linear-gradient(to right, #ada996, #f2f2f2, #dbdbdb, #eaeaea);;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}


body {
  font-weight: 400;
  font-family: 'Centra', sans-serif !important;
  color: var(--font-color-white) !important;
  background: var(--gradient-main) !important;
  min-width: 320px;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

a {
  font-weight: 500;
  opacity: 0.75;
}

a:hover {
  opacity: 1;
}

/*Navbar*/
nav.navbar {
  background-color: var(--background-color-black);
  padding: 10px 0;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 9999;
  transition: all 0.32s ease-in-out;
}

nav.navbar.scrolled {
  padding: 2px 0;
  background-color: rgba(0, 0, 0, 0.329);
}

nav.navbar a.navbar-brand {
  display: flex;
  align-items: center;
  justify-content: left;
}

nav.navbar .navbar-nav {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

nav.navbar .navbar-toggler {
  margin-right: 1rem;
}

nav.navbar .navbar-nav .nav-link {
  font-weight: 400;
  color: var(--font-color-white) !important;
  letter-spacing: 0.8px;
  padding: 0.1rem .5rem;
  font-size: 18px;
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav .active-scroll-spy {
  opacity: 1;
}

nav.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav.navbar .container button {
  margin-right: .5rem;
}

/*Main LOGO*/

.main-logo .carousel .carousel-item img {
  width: 100vw;
}

.main-logo .carousel .carousel-item .carousel-caption a {
  color: var(--font-color-white);
}

.main-logo .carousel .carousel-item .carousel-caption h2 {
  text-transform: uppercase;
}

.main-logo .carousel .carousel-item .carousel-caption h2,
.main-logo .carousel .carousel-item .carousel-caption p,
.main-logo .carousel .carousel-item .carousel-caption a {
  text-shadow: var(--text-shadow);
}

/*Portfolio*/

.porfolio {
  color: var(--font-color-black);
}

.porfolio h2 {
  z-index: -1;
}

.porfolio .container .row .nav {
  gap: 1rem;
}

.porfolio .container .row .nav .nav-item .nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.porfolio .card {
  display: flex;
  height: 100%;
  filter: grayscale(100%);
}

.porfolio .card img {
  float: left;
  height: 100%;
}

.porfolio .nav-link {
  font-weight: 500;
  letter-spacing: 0.8px;
  padding: 5px 25px;
  font-size: 18px;
  opacity: 0.75;
  color: var(--font-color-black);
}

/*About*/

.about {
  color: var(--background-color-black);
}

.about h3 {
  font-size: x-large;
  margin-bottom: 1rem;
}

.about .image-holder {
  max-width: 100%;
}

.about img[alt="About me"] {
  max-width: 100%;
  filter: grayscale(100%);
}

.about .list-group {
  border-radius: 0;
}

.about .list-group .list-group-item {
  background-color: #ffffff00;
  border-style: none solid none solid;
  border-width: 1px;
}

.about .list-group .list-group-item:first-child {
  border-left: none;
}

.about .list-group .list-group-item:last-child {
  border: none;
}

/*Pricing*/

.pricing {
  color: var(--font-color-black);
}

.pricing table ul {
  list-style-type: none;
}

.pricing table tbody tr * {
  padding: 4px;
}

.pricing table tbody tr th,
.pricing table tbody tr td {
  background-color: #00000000;
}

/*Contact*/

.contact {
  color: var(--font-color-white);
  background-image: url("../assets/img/contact.JPG");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.contact h2 {
  text-shadow: var(--text-shadow);
}

.social-icon a {
  width: 60px;
  height: 60px;
  display: inline-flex;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
}

.social-icon a img {
	width: 100%;
  filter: invert();
	z-index: 1;
	transition: 0.3s ease-in-out;
}

.social-icon a:hover img {
	opacity: .8;
}

.contact form input, .contact form select {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: #fff;
  margin: 0 0 8px 0;
  padding: 14px 26px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
}

.contact form input:focus, .contact form select:focus {
  background: rgba(255, 255, 255, 1);
  color: #121212;
}

.contact form input::placeholder, .contact form select::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.contact form input:focus::placeholder, .contact form select:focus::placeholder {
  color: #121212;
  opacity: 0.8;
}

.contact form button {
  font-weight: 700;
  color: var(--font-color-black);
  background-color: #fff;
  padding: 14px 48px;
  font-size: 18px;
  border-radius: 0;
  border: none;
  position: relative;
  transition: 0.3s ease-in-out;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.contact form button span {
  z-index: 1;
  position: relative;
}

.contact form button:hover {
  color: var(--font-color-white);
  background-color: var(--background-color-black);
  opacity: .6;
}

/*Footer*/

footer {
  color: var(--background-color-black) !important;
  font-weight: 400;
  padding: 5px 25px;
  opacity: 0.75;
}

footer a {
  text-decoration: none;
  margin-right: .5rem;
}

footer a:visited {
  color: var(--background-color-black);
}